<?xml version='1.0' encoding='utf-8'?>
<widget id="co.mclear.nfcringpro" version="0.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NFC Ring Control</name>
    <description>
	Read from and Write to your NFC Ring.  Create links to your favorite social network profile or read your current NFC Ring.
    </description>
    <author email="john@mclear.co" href="http://nfcring.com">
        NFC Ring Team
    </author>
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://127.0.0.1" />
    <access origin="https://*.nfcring.com" />
    <access origin="http://*.nfcring.com" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-intent href="mailto:*" />
    <platform name="ios">
        <!-- todo -->
        <icon density="mdpi" src="res/icon/ios/mdpi.png" />
        <icon density="hdpi" src="res/icon/ios/hdpi.png" />
        <icon density="xhdpi" src="res/icon/ios/xhdpi.png" />
        <splash src="res/screen/wp8/splash.jpg" />
        <preference name="FadeSplashScreen" value="false"/>
        <preference name="FadeSplashScreenDuration" value="0"/>
        <!-- end todo -->
    </platform>
    <platform name="android">
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
    <platform name="wp8">
        <icon height="99" src="res/icon/wp8/icon.png" width="99" />
        <icon height="159" src="res/icon/wp8/background.png" width="159" />
        <splash height="1280" src="res/screen/wp8/splash.jpg" width="768" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-contacts" spec="^1.1.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.5" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="phonegap-nfc" spec="https://github.com/chariotsolutions/phonegap-nfc#ios" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
</widget>
