<?xml version='1.0' encoding='utf-8'?>
<widget id="co.mclear.nfcringpro" version="0.4.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NFC Ring Control</name>
    <description>
	Read from and Write to your NFC Ring.  Create links to your favorite social network profile or read your current NFC Ring.
    </description>
    <author email="john@mclear.co" href="http://nfcring.com">
        NFC Ring Team
    </author>
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://127.0.0.1" />
    <access origin="https://*.nfcring.com" />
    <access origin="http://*.nfcring.com" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-intent href="mailto:*" />
    <icon src="res/icon/ios/180.png" />
    <preference name="SplashScreen" value="none"/>
    <preference name="FadeSplashScreenDuration" value="0"/> 
    <platform name="ios">
        <!-- todo -->
        <icon src="res/icon/ios/Icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/Icon-50.png" width="50" height="50" />
        <icon src="res/icon/ios/Icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/Icon-72.png" width="72" height="72" />
        <icon src="res/icon/ios/Icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/Icon-167.png" width="167" height="167" />
        <icon src="res/icon/ios/180.png" width="180" height="180" />

        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone_640x1136.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

        <!-- end todo -->
    </platform>
    <platform name="android">
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
    <platform name="wp8">
        <icon height="99" src="res/icon/wp8/icon.png" width="99" />
        <icon height="159" src="res/icon/wp8/background.png" width="159" />
        <splash height="1280" src="res/screen/wp8/splash.jpg" width="768" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-contacts" spec="^1.1.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.5" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="phonegap-nfc" spec="https://github.com/chariotsolutions/phonegap-nfc#ios" />
    <plugin name="cordova-plugin-console" spec="^1.0.7" />
</widget>
