<?xml version='1.0' encoding='utf-8'?>
<widget id="co.mclear.nfcringpro" version="0.3.04" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NFC Ring Control</name>
    <description>
	Read from and Write to your NFC Ring.  Create links to your favorite social network profile or read your current NFC Ring.
    </description>
    <author href="http://nfcring.com" email="john@mclear.co">
        NFC Ring Team
    </author>
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="https://parse.com" />
    <access origin="http://127.0.0.1" />
    <access origin="https://*.parse.com" />
    <access origin="https://*.nfcring.com" />
    <access origin="http://*.nfcring.com" />

<platform name="android">
    <icon src="res/icon/android/mdpi.png" density="mdpi" />
    <icon src="res/icon/android/hdpi.png" density="hdpi" />
    <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
</platform>
<platform name="wp8">
    <icon src="res/icon/wp8/icon.png" width="99" height="99" />
    <icon src="res/icon/wp8/background.png" width="159" height="159" />
    <splash src="res/screen/wp8/splash.jpg" width="768" height="1280"/>
</platform>

</widget>

