body {
    font-family: arial;
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position:fixed;
    top:0;
    bottom:0;
    left: 0;
    right:0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 50px 0 50px;
}
.step {
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
    margin-bottom: 50px;
}
.count {
    display: none;
    width: 200px;
    height: 200px;
    background-color: black;
}
.actionName { font-size: 32px !important }
.ringActions { text-align: center }
#scan { height: 40px }
#optionInput {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    line-height: 48px;
    font-size: 32px;
    text-align: center;
}
.actionContents { padding-top: 10px }
#writeRing > .actionContents { text-align: center }
.platformInfo { text-align: center }
.obviousButton {
    width: 80%;
    height: 80px;
}
#continue,
.finish {
    margin-top: 20px;
    float: right;
}
.finish { margin-bottom: 50px }
.platforms {
    padding-top: 20px;
    text-align: center;
}
#qrCode {
    text-align: center;
    margin: 50px;
}
.back {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
}
.next { float: right }
footer {
    background-color: lightgrey;
    min-height: 200px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
}
a.paddedIcon > img { padding-bottom: 10px }
a.paddedIcon {
    display: inline-block;
    width: 125px;
    text-align: center;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #fff;
}
a:hover { border: 1px solid #666 }
.overlay {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    opacity: .98;
    position: absolute;
    top: 0;
    text-align: center;
    display: none;
}
#androidInfo,
#windowsMobileInfo,
#blackBerryInfo { display: none }
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}
.btn:active,
.btn.active { background-color: #cccccc \9 }
.btn:first-child { *margin-left: 0 }
.btn:hover,
.btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}
.btn-success:active,
.btn-success.active { background-color: #408140 \9 }
#optionInput {
    width: 100%;
    font-size: 20px;
}
a.paddedIcon { padding: 5px }
.container { padding: 20px }
.actionName { font-size: 36px }
.actionContents { font-size: 20px }
button {
    width: 100%;
    min-height: 150px;
    margin-top: 20px;
    font-size: 20px;
}
.btn {
    font-size: 20px;
    min-height: 80px;
}
input {
    width: 100% !important;
    min-height: 80px;
}
.step { margin-top: 20px }
.landing { display: block }


.green{ background-color:green ; }
#option, #writeRing{display:none;}

#heatMap{
  position:fixed;
  height:100%;
  width:100%;
}

#bubble{
  position:absolute;
  display:none;
  height:30px;
  width:30px;
  background-color:red;
  border-radius: 15px;
}

